/* Custom CSS Rules */

/*html { overflow-y: scroll; overflow-x:hidden; }*/
/*body { position: absolute; }*/

.navbar {
    font-size: 2em;
}

.energy-table-scroll {
    width: max-width;
    height: 700px;
    display: block;
    overflow-x: auto;
    overflow-y: auto;
}

.table-scroll {
    width: max-width;
    display: block;
    height: 700px;
    overflow-y: auto;
}

td {
    text-align: center;
}

table th:first-child {
    position: sticky;
    left: 0;
}

table th {
    position: sticky;
    top: 0;
    background: white;
}

.year-column {
    position: sticky;
    left: 0;
    background: white;
    font-weight: bold;
}

