<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <title>US Energy Consumption</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="/css/foundation.css">
    <script type="application/javascript">
        // `energy_type` and object of consumption per year per state => set these variables equal to appropriate value
        //   * these variables will be defined and accessible from any script loaded after this one
        var energy_type = {{{ENERGY_TYPE}}};
        var energy_counts = {{{ENERGY_COUNTS}}}; // dictionary of arrays (e.g. {AK: [...], AL: [...], AR: [...], ...})
    </script>
</head>
<body>
    <!-- create template here -->
    <div class="grid-container">
        <h1>Consumption Data for Energy Source: {{{ENERGY}}}</h1>

        <div class = "grid-x grid-padding-x">
            <div class="cell">
                <table>
                    <tr>
                        <th>Year</th>
                        <!--Fill in States-->
                        {{{STATE_ABB}}}
                    </tr>

                        {{{TABLE_DATA}}}
    
                </table>
            </div>
        </div>
    </div>    

</body>
</html>
