<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <title>US Energy Consumption</title>

    <!-- Our Stylesheet -->
    <link rel="stylesheet" href="/css/style.css">

    <!-- Open-Source Stylesheets -->
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="/css/foundation.css">
</head>
<body>

    <!-- Site Navigation -->
    <div class="w3-light-grey navbar">
        <a href="#" s class="w3-bar-item w3-button navbar-home">Home</a>
        </span class="navbar-span">
            <div class="w3-dropdown-hover">
            <button class="w3-button">Energy Source</button>
            <div class="w3-dropdown-content w3-bar-block w3-card-4">
                <a href="/energy/coal" class="w3-bar-item w3-button">Coal</a>
                <a href="/energy/natural_gas" class="w3-bar-item w3-button">Natural Gas</a>
                <a href="/energy/nuclear" class="w3-bar-item w3-button">Nuclear</a>
                <a href="/energy/petroleum" class="w3-bar-item w3-button">Petroleum</a>
                <a href="/energy/renewable" class="w3-bar-item w3-button">Renewable</a>
            </div>
            </div>
            <div class="w3-dropdown-hover">
            <button class="w3-button">States</button>
            <div class="w3-dropdown-content w3-bar-block w3-card-4">
                <a href="/state/AK" class="w3-bar-item w3-button">Alaksa</a>
                <a href="/state/AL" class="w3-bar-item w3-button">Alabama</a>
                <a href="/state/AR" class="w3-bar-item w3-button">Arkansas</a>
                <a href="/state/AZ" class="w3-bar-item w3-button">Arizona</a>
                <a href="/state/CA" class="w3-bar-item w3-button">California</a>
                <a href="/state/CO" class="w3-bar-item w3-button">Colorado</a>
                <a href="/state/CT" class="w3-bar-item w3-button">Connecticut</a>
                <a href="/state/DC" class="w3-bar-item w3-button">Washingtion D.C</a>
                <a href="/state/DE" class="w3-bar-item w3-button">Deleware</a>
                <a href="/state/FL" class="w3-bar-item w3-button">Florida</a>
                <a href="/state/GA" class="w3-bar-item w3-button">Georgia</a>
                <a href="/state/HI" class="w3-bar-item w3-button">Hawaii</a>
                <a href="/state/IA" class="w3-bar-item w3-button">Iowa</a>
                <a href="/state/ID" class="w3-bar-item w3-button">Idaho</a>
                <a href="/state/IL" class="w3-bar-item w3-button">Illinois</a>
                <a href="/state/IN" class="w3-bar-item w3-button">Indiana</a>
                <a href="/state/KS" class="w3-bar-item w3-button">Kansas</a>
                <a href="/state/KY" class="w3-bar-item w3-button">Kentucky</a>
                <a href="/state/LA" class="w3-bar-item w3-button">Louisiana</a>
                <a href="/state/MA" class="w3-bar-item w3-button">Massachusetts</a>
                <a href="/state/MD" class="w3-bar-item w3-button">Maryland</a>
                <a href="/state/ME" class="w3-bar-item w3-button">Maine</a>
                <a href="/state/MI" class="w3-bar-item w3-button">Michigan</a>
                <a href="/state/MN" class="w3-bar-item w3-button">Minnesota</a>
                <a href="/state/MO" class="w3-bar-item w3-button">Missouri</a>
                <a href="/state/MS" class="w3-bar-item w3-button">Mississippi</a>
                <a href="/state/MT" class="w3-bar-item w3-button">Montana</a>
                <a href="/state/NC" class="w3-bar-item w3-button">North Carolina</a>
                <a href="/state/ND" class="w3-bar-item w3-button">North Dakota</a>
                <a href="/state/NE" class="w3-bar-item w3-button">Nebraska</a>
                <a href="/state/NH" class="w3-bar-item w3-button">New Hampshire</a>
                <a href="/state/NJ" class="w3-bar-item w3-button">New Jersey</a>
                <a href="/state/NM" class="w3-bar-item w3-button">New Mexico</a>
                <a href="/state/NV" class="w3-bar-item w3-button">Nevada</a>
                <a href="/state/NY" class="w3-bar-item w3-button">New York</a>
                <a href="/state/OH" class="w3-bar-item w3-button">Ohio</a>
                <a href="/state/OK" class="w3-bar-item w3-button">Oklahoma</a>
                <a href="/state/OR" class="w3-bar-item w3-button">Oregon</a>
                <a href="/state/PA" class="w3-bar-item w3-button">Pennsylvania</a>
                <a href="/state/RI" class="w3-bar-item w3-button">Rhode Island</a>
                <a href="/state/SC" class="w3-bar-item w3-button">South Carolina</a>
                <a href="/state/SD" class="w3-bar-item w3-button">South Dakota</a>
                <a href="/state/TN" class="w3-bar-item w3-button">Tennessee</a>
                <a href="/state/TX" class="w3-bar-item w3-button">Texas</a>
                <a href="/state/UT" class="w3-bar-item w3-button">Utah</a>
                <a href="/state/VA" class="w3-bar-item w3-button">Virginia</a>
                <a href="/state/VT" class="w3-bar-item w3-button">Vermont</a>
                <a href="/state/WA" class="w3-bar-item w3-button">Washington</a>
                <a href="/state/WI" class="w3-bar-item w3-button">Wisconsin</a>
                <a href="/state/WV" class="w3-bar-item w3-button">West Virginia</a>
                <a href="/state/WY" class="w3-bar-item w3-button">Wyoming</a>
            </div>
            </div>
            <div class="w3-dropdown-hover">
                <button class="w3-button">Years</button>
                <div class="w3-dropdown-content w3-bar-block w3-card-4">
                <a href="/year/1960" class="w3-bar-item w3-button">1960</a>
                <a href="/year/1961" class="w3-bar-item w3-button">1961</a>
                <a href="/year/1962" class="w3-bar-item w3-button">1962</a>
                <a href="/year/1963" class="w3-bar-item w3-button">1963</a>
                <a href="/year/1964" class="w3-bar-item w3-button">1964</a>
                <a href="/year/1965" class="w3-bar-item w3-button">1965</a>
                <a href="/year/1966" class="w3-bar-item w3-button">1966</a>
                <a href="/year/1967" class="w3-bar-item w3-button">1967</a>
                <a href="/year/1968" class="w3-bar-item w3-button">1968</a>
                <a href="/year/1969" class="w3-bar-item w3-button">1969</a>
                <a href="/year/1970" class="w3-bar-item w3-button">1970</a>
                <a href="/year/1971" class="w3-bar-item w3-button">1971</a>
                <a href="/year/1972" class="w3-bar-item w3-button">1972</a>
                <a href="/year/1973" class="w3-bar-item w3-button">1973</a>
                <a href="/year/1974" class="w3-bar-item w3-button">1974</a>
                <a href="/year/1975" class="w3-bar-item w3-button">1975</a>
                <a href="/year/1976" class="w3-bar-item w3-button">1976</a>
                <a href="/year/1977" class="w3-bar-item w3-button">1977</a>
                <a href="/year/1978" class="w3-bar-item w3-button">1978</a>
                <a href="/year/1979" class="w3-bar-item w3-button">1979</a>
                <a href="/year/1980" class="w3-bar-item w3-button">1980</a>
                <a href="/year/1981" class="w3-bar-item w3-button">1981</a>
                <a href="/year/1982" class="w3-bar-item w3-button">1982</a>
                <a href="/year/1983" class="w3-bar-item w3-button">1983</a>
                <a href="/year/1984" class="w3-bar-item w3-button">1984</a>
                <a href="/year/1985" class="w3-bar-item w3-button">1985</a>
                <a href="/year/1986" class="w3-bar-item w3-button">1986</a>
                <a href="/year/1987" class="w3-bar-item w3-button">1987</a>
                <a href="/year/1988" class="w3-bar-item w3-button">1988</a>
                <a href="/year/1989" class="w3-bar-item w3-button">1989</a>
                <a href="/year/1990" class="w3-bar-item w3-button">1990</a>
                <a href="/year/1991" class="w3-bar-item w3-button">1991</a>
                <a href="/year/1992" class="w3-bar-item w3-button">1992</a>
                <a href="/year/1993" class="w3-bar-item w3-button">1993</a>
                <a href="/year/1994" class="w3-bar-item w3-button">1994</a>
                <a href="/year/1995" class="w3-bar-item w3-button">1995</a>
                <a href="/year/1996" class="w3-bar-item w3-button">1996</a>
                <a href="/year/1997" class="w3-bar-item w3-button">1997</a>
                <a href="/year/1998" class="w3-bar-item w3-button">1998</a>
                <a href="/year/1999" class="w3-bar-item w3-button">1999</a>
                <a href="/year/2000" class="w3-bar-item w3-button">2000</a>
                <a href="/year/2001" class="w3-bar-item w3-button">2001</a>
                <a href="/year/2002" class="w3-bar-item w3-button">2002</a>
                <a href="/year/2003" class="w3-bar-item w3-button">2003</a>
                <a href="/year/2004" class="w3-bar-item w3-button">2004</a>
                <a href="/year/2005" class="w3-bar-item w3-button">2005</a>
                <a href="/year/2006" class="w3-bar-item w3-button">2006</a>
                <a href="/year/2007" class="w3-bar-item w3-button">2007</a>
                <a href="/year/2008" class="w3-bar-item w3-button">2008</a>
                <a href="/year/2009" class="w3-bar-item w3-button">2009</a>
                <a href="/year/2010" class="w3-bar-item w3-button">2010</a>
                <a href="/year/2011" class="w3-bar-item w3-button">2011</a>
                <a href="/year/2012" class="w3-bar-item w3-button">2012</a>
                <a href="/year/2013" class="w3-bar-item w3-button">2013</a>
                <a href="/year/2014" class="w3-bar-item w3-button">2014</a>
                <a href="/year/2015" class="w3-bar-item w3-button">2015</a>
                <a href="/year/2016" class="w3-bar-item w3-button">2016</a>
                <a href="/year/2017" class="w3-bar-item w3-button">2017</a>
                <a href="/year/2018" class="w3-bar-item w3-button">2018</a>
                </div>
            </div>
        </span>        
    </div>

    <!-- create template here -->
    <div class="grid-container">
        <h1>Welcome to our Dynamic Webpage!</h1>
        <h4>Developed by: Zak Nilsen, Tseng Yang, and Anshul Bharath</h4>
    </div>
</body>