<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <title>US Energy Consumption</title>
    <!--<link rel="stylesheet" href="css/style.css">-->
    <script type="application/javascript">
        let Chart = require('chart.js');
        // `year` and total counts for entire US => set these variables equal to appropriate value
        //   * these variables will be defined and accessible from any script loaded after this one
        var year = {{{YEAR}}};
        var coal_count = {{{COAL_COUNT}}};
        var natural_gas_count = {{{NATURAL_GAS_COUNT}}};
        var nuclear_count = {{{NUCLEAR_COUNT}}};
        var petroleum_count = {{{PETROLEUM_COUNT}}};
        var renewable_count = {{{RENEWABLE_COUNT}}};

        function insertText(){
            document.getElementById("testId").innerHTML = coal_count;
        }

        let ctx = document.getElementById('myChart');
        let myChart = new Chart(ctx, {
            type: 'pie',
            data: {
                labels: ['Coal', 'Natural Gas', 'Nuclear', 'Petroleum', 'Renewable'],
                datasets: [{
                    label: 'Total US Consumption By Energy Source',
                    data: [coal_count, natural_gas_count, nuclear_count, petroleum_count, renewable_count],
                    backgroundColor: [
                    'rgb(255, 99, 132)',
                    'rgb(54, 162, 235)',
                    'rgb(255, 205, 86)'
                    ],
                    hoverOffset: 4
                }]
            }
        });

    </script>
</head>
<body>
    <!-- create template here -->
    <div id="testId">
        coal count
    </div>
    

    <div>
        <table>
            <tr>
                <th>State</th>
                <th>Coal</th>
                <th>Natural Gas</th>
                <th>Nuclear</th>
                <th>Petroluem</th>
                <th>Renewable</th>
            </tr>

            {{{Table}}}

        </table>
        
    </div>

    <div>
        <canvas id="myChart" width="400" height="400"></canvas>
    </div>
</body>
</html>
